.expandable-box {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.expandable-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.box-header h3 {
    margin: 0;
}

.main-paragraph-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.main-paragraph-text {
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

.documentation {
    background-color: #f0f0f0;
    font-size: 13px;
    color: black;
    padding: 2px 4px;
    margin-left: 20px;
    border-radius: 4px;
}

.graphical {
    background-color: #81ef52;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    margin-left: 20px;
    border-radius: 4px;
}

.arrow {
    font-size: 20px;
}

.box-content {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}

  input[type="checkbox"]:checked + .box-header .arrow {
    transform: rotate(90deg);
}

  input[type="checkbox"]:checked ~ .box-content {
    max-height: 100000px;
}